:root {
  --gray-text-color: #666;
  --blue-color: #0056c1;
}
$font-family-light: "SFProDisplay-light";
$font-family-medium: "SFProDisplay-medium";
$font-family-regular: "SFProDisplay-regular";
$font-family-semibold: "SFProDisplay-semibold";
$font-family-bold: "SFProDisplay-bold";

$font-path-light: "../fonts/SFProDisplay-light.woff2";
$font-path-medium: "../fonts/SFProDisplay-medium.woff2";
$font-path-regular: "../fonts/SFProDisplay-regular.woff2";
$font-path-semibold: "../fonts/SFProDisplay-semibold.woff2";
$font-path-bold: "../fonts/SFProDisplay-bold.woff2";

@font-face {
  font-family: $font-family-light;
  src: url($font-path-light) format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: $font-family-medium;
  src: url($font-path-medium) format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: $font-family-regular;
  src: url($font-path-regular) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: $font-family-semibold;
  src: url($font-path-semibold) format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: $font-family-bold;
  src: url($font-path-bold) format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  width: 100vw;
  height: auto;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.site-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header-top-container {
  width: 100%;
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  background-color: #26262610;
  padding: 0 30px;
}
.header-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-item {
  flex-wrap: wrap;
}
.left-item-title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 15px;
  a {
    font-size: 14px;
    color: var(--gray-text-color);
    font-family: $font-family-light;
    margin-right: 25px;
    &:not(:last-child):hover {
      text-decoration: underline;
    }
  }
}
.left-item-menu-block {
  display: none;
  gap: 8px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  p {
    font-size: 14px;
    color: black;
    font-family: $font-family-semibold;
  }
  img {
    width: 10px;
    height: 10px;
    transform: rotate(180deg);
  }
}
.header-blue-button {
  border: 1px solid var(--blue-color);
  padding: 6px 12px;
  border-radius: 20px;
  transition: background 0.3s ease;
  cursor: pointer;
  &:hover {
    background-color: var(--blue-color);
  }
  &:hover > p {
    color: white;
  }
  p {
    font-family: $font-family-medium;
    color: var(--blue-color);
    transition: color 0.3s ease;
  }
}
.right-item {
  gap: 20px;
  padding: 0 15px;
}
.header-search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  img {
    width: 12px;
    height: 12px;
  }
  p {
    font-size: 14px;
    font-family: $font-family-light;
    color: var(--gray-text-color);
  }
}
.header-language {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 50px;
  position: relative;
  cursor: pointer;
  &:hover > img {
    transform: rotate(0deg);
  }
  &:hover .language-dropdown {
    display: flex;
  }
  p {
    font-family: $font-family-light;
    color: var(--gray-text-color);
    font-size: 14px;
  }
  img {
    width: 10px;
    height: 10px;
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }
}

.header-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  img {
    width: 12px;
    height: 12px;
    color: var(--gray-text-color);
  }

  a {
    font-family: $font-family-semibold;
    color: var(--gray-text-color);
    font-size: 14px;
  }
}
.language-dropdown {
  display: none;
  width: 160px;
  height: auto;
  flex-direction: column;
  background-color: white;
  position: absolute;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  top: 49px;
  left: -120px;
  .lang-dropdown-item {
    display: flex;
    width: 100%;
    height: 55px;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 0 15px;
    transition: background 0.3s ease;
    &:hover {
      background: #26262609;
    }
    img {
      width: 24px;
      height: 24px;
      transform: rotate(360deg);
    }
    p {
      color: black;
      font-family: $font-family-regular;
      font-size: 16px;
    }
  }
}
.header-mid-container {
  display: flex;
  width: 100%;
  height: 75px;
  align-items: center;
  padding: 0 40px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
}
.header-mid-block {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.mid-block-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  .abb-logo {
    width: 110px;
    height: 50px;
    margin-right: 30px;
    cursor: pointer;
  }
}
.mid-title-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-family: $font-family-medium;
  &:hover a {
    color: black;
  }
  &:hover p {
    color: black;
  }
  a {
    color: rgba(128, 128, 128, 0.603);
    transition: color 0.3s ease;
  }
  p {
    color: rgba(128, 128, 128, 0.603);
    transition: color 0.3s ease;
  }
  .active-black {
    color: black;
  }
}
.hamburger {
  display: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.internet-banking-block {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 8px;
  img {
    width: 24px;
    height: 24px;
  }
  p {
    font-family: $font-family-semibold;
    font-size: 15px;
    color: var(--blue-color);
  }
}
.header-bottom-container {
  display: flex;
  width: 100%;
  height: 75px;
  align-items: center;
  padding: 0 40px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
}
.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 24px 0 0;
  height: 100%;
  position: relative;
  a {
    font-size: 15px;
    font-family: $font-family-regular;
    color: black;
  }
  &:hover > .nav-item-dropdown {
    display: flex;
  }
  .nav-item-dropdown {
    background-color: white;
    width: 100vw;
    position: absolute;
    top: 74px;
    left: -40px;
    display: none;
    position: absolute;
    z-index: 9999;
    border-top: 1px solid rgba(128, 128, 128, 0.1);
    padding: 50px 100px;
    cursor: default;
    &::after {
      content: url("../images/close.png");
      position: absolute;
      right: 50px;
      top: 50px;
      cursor: pointer;
    }
  }
  .mortgage-dropdown {
    left: -117px;
    .dropdown-full-container-block {
      gap: 45px;
    }
  }
  .deposit-dropdown {
    left: -187px;
  }
  .cards-dropdown {
    left: -277px;
  }
  .mortgage-text-margin {
    padding-bottom: 20px;
  }
  .money-transfer-dropdown {
    left: -342px;
  }
  .current-account {
    left: -462px;
  }
  .electronic-services {
    left: -553px;
  }
  .bank-24 {
    left: -689px;
  }
  .cashback {
    left: -778px;
  }
  .partner-text-margin {
    padding-bottom: 20px;
  }
  .dropdown-full-container {
    width: 100%;
    display: flex;
  }

  .dropdown-full-container-block {
    display: flex;
    gap: 50px;
    width: 41%;
  }

  .title-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 250px;
    a {
      font-size: 17px;
      font-family: $font-family-light;
      color: var(--gray-text-color);
      text-align: start;
    }
  }

  .dropdown-full-container-second {
    display: flex;
    padding-left: 50px;
    border-left: 1px solid rgba(128, 128, 128, 0.1);
    gap: 50px;
    .img-block {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 347px;
        height: 217px;
      }
    }
    .second-title-item {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
    }
    h2 {
      font-size: 24px;
      color: black;
      font-family: $font-family-medium;
      font-weight: 500;
    }
    p {
      font-size: 16px;
      color: var(--gray-text-color);
      font-family: $font-family-light;
      font-family: 100;
    }
    button {
      width: 150px;
      height: 50px;
      border: 1px solid black;
      border-radius: 5px;
      background-color: transparent;
      font-size: 16px;
      color: black;
      font-family: $font-family-medium;
      cursor: pointer;
      transition: color 0.3s ease, background 0.3s ease;
      &:hover {
        background: black;
        color: white;
      }
    }
  }

  .blue-loader {
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #0057c19c;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    transition: width 0.3s ease;
  }
  &:hover .blue-loader {
    width: 75%;
  }
}

.site-main {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}
.swiper-background {
  display: flex;
  width: 100%;
  height: auto;
  background: linear-gradient(90deg, #e1ebff 9.88%, #afb9cd 92.09%);
  align-items: center;
  justify-content: center;
}
.swiper-container {
  display: flex;
  width: 1300px;
  height: 500px;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 0 40px;
}
.swiper-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 410px;
  margin-top: 20px;
  h2 {
    font-size: 45px;
    font-family: $font-family-semibold;
    color: black;
  }
  p {
    font-size: 18px;
    font-family: $font-family-medium;
    color: black;
  }
  button {
    font-size: 16px;
    font-family: $font-family-medium;
    color: black;
    margin-top: 24px;
    background-color: transparent;
    outline: 0;
    border: 1px solid black;
    border-radius: 5px;
    width: 195px;
    height: 50px;
    transition: color 0.3s ease, background 0.3s ease;
    cursor: pointer;
    &:hover {
      background-color: black;
      color: white;
    }
  }
}
.swiper-buttons-block {
  display: flex;
  width: auto;
  height: auto;
  align-items: center;
  margin-top: 40px;
  .swiper-button {
    width: 35px;
    height: 4px;
    background-color: white;
    border-radius: 1px;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
.swiper-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  position: relative;
  &::after {
    border-radius: 50%;
    bottom: -50%;
    content: "";
    left: 0;
    padding-bottom: 100%;
    position: absolute;
    width: 100%;
    z-index: 22;
    background-color: hsla(0, 0%, 100%, 0.1);
  }
  img {
    object-position: center;
    object-fit: cover;
    height: 500px;
    width: 500px;
    display: block;
    z-index: 2222;
  }
}

@media only screen and (max-width: 1550px) {
  .nav-item .title-item {
    width: 200px;
  }
  .nav-item .mortgage-dropdown .dropdown-full-container-block {
    padding-right: 50px;
  }
}
@media only screen and (max-width: 1120px) {
  .nav-item .dropdown-full-container-second .img-block {
    display: none;
  }
  .left-item-title a {
    margin-top: 2px;
  }
  .internet-banking-block {
    img {
      width: 14.5px;
      height: 14.5px;
    }
    p {
      width: 70px;
    }
  }
  .swiper-title {
    width: 300px;
    margin-top: 50px;
  }
  .swiper-container {
    width: 950px;
  }
}
@media only screen and (max-width: 1100px) {
  .dropdown-full-container-block {
    gap: 20px !important;
  }
}

@media only screen and (max-width: 1000px) {
  .left-item-title {
    a {
      display: none;
    }
  }
  .left-item-menu-block {
    display: flex;
  }
  .header-top-container {
    padding: 0 10px;
  }
  .header-search {
    p {
      display: none;
    }
  }
  .mid-title-item {
    display: none;
  }
  .header-mid-container {
    padding: 0 20px;
  }
  .mid-block-items .abb-logo {
    width: 84px;
    height: 38px;
  }
  .hamburger {
    display: flex;
  }
  .internet-banking-block {
    display: none;
  }
  .header-bottom-container {
    display: none;
  }
  .swiper-container {
    flex-direction: column;
  }
  .swiper-title {
    width: auto;
    text-align: center;
    align-items: center;
    gap: 15px;
  }
  .swiper-title button {
    width: 175px;
    margin-top: 12px;
  }
  .swiper-image img {
    width: 690px;
    height: 690px;
  }
  .swiper-container {
    height: auto;
  }
  .swiper-buttons-block {
    position: absolute;
    bottom: -520px;
    left: 50%;
    transform: translateX(-50%);
  }
  .swiper-image {
    margin-top: 48px;
  }
}
@media only screen and (max-width: 769px) {
  .swiper-title {
    gap: 10px;
    h2 {
      font-size: 30px;
    }
    p {
      font-size: 14px;
    }
  }
  .swiper-buttons-block {
    bottom: -310px;
  }
  .swiper-image img {
    width: 510px;
    height: 510px;
  }
}
@media only screen and (max-width: 550px) {
  .swiper-container {
    padding: 0 10px;
  }
  .swiper-title {
    gap: 10px;
    width: 300px;
    h2 {
      font-size: 21px;
    }
  }
  .swiper-buttons-block {
    bottom: -125px;
  }
  .swiper-image img {
    width: 310px;
    height: 310px;
  }
}
